.main-container {
  display: flex;
  flex-flow: row wrap;
}

.main-container > * {
}

app-top-bar {
  flex: 1 100%;
  order: 1;
}

app-side-bar {
  flex: 0 1;
  order: 2;
  border: 1px solid grey;
  margin: 0 20px 0 0;
}

app-notes-container {
  flex: 1 0;
  order: 3;
}

mat-card {
  width: 300px;
  margin: auto;
  margin-top: 10%;
}
