<pre><div class="snippet-action-bar">
  <button mat-raised-button class="snippet-button" matTooltip="Copy" tabindex="-1"><mat-icon inline="true" inline="true">file_copy</mat-icon></button>
  <button
  *ngIf="editable"
    mat-raised-button
    class="snippet-button"
    matTooltip="Delete Snippet"
    color="warn"
    tabindex="-1"
  ><mat-icon inline="true">delete</mat-icon><mat-spinner *ngIf="false" diameter="30" color="primary"></mat-spinner></button>
</div><code [attr.contenteditable]="editable" (keydown)=onKeyDown($event) (keyup)=onKeyUp($event) #snippet spellcheck="false" id="snippets" (blur)="save(snippet)" [style.overflow]="editable?'auto':'hidden'">{{ code }}</code></pre>
