[contenteditable]:focus {
  outline: 0px solid transparent;
}

.snippet-action-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 10px;

}
.snippet-action-bar button {
  margin: 0 0.2em 0.2em 0;
  height: 2em;
  width: 2em;
}
.snippet-action-bar button {
  font-size: 1em;
}

pre {
  font-size: 1.2em;
  //padding: 1.5em;
  border-radius: 5px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.raised {
  box-shadow: 0 14px 28px rgba(0, 36, 102, 0.25),
    0 10px 10px rgba(0, 36, 102, 0.22);
}

.wrapper {  
}