[contenteditable]:focus {
  outline: 0px solid transparent;
}

.snippet-action-bar {
  display: flex;
  flex-direction: column;
  float: left;
}
.snippet-action-bar button {
  margin: 0 0.5em 0.5em 0;
  width: 20px;
  height: 70px;
}

code {
  font-size: 1.2em;
  padding: 1.5em;
  border-radius: 5px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.raised {
  box-shadow: 0 14px 28px rgba(0, 36, 102, 0.25),
    0 10px 10px rgba(0, 36, 102, 0.22);
}