<pre class="wrapper"><div class="snippet-action-bar">
  <button mat-raised-button class="snippet-button" matTooltip="Copy">
    <mat-icon>file_copy</mat-icon>
  </button>
  <button
    *ngIf="!editable"
    mat-raised-button
    class="snippet-button"
    matTooltip="Edit"
    (click)="toggleEditable(snippet); selectAll(snippet)"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="editable"
    mat-raised-button
    class="snippet-button"
    matTooltip="Save"
    (click)="save(snippet)"color="accent"
  >
    <mat-icon *ngIf="!loading">save</mat-icon><mat-spinner *ngIf="loading" diameter="30" color="primary">
    </mat-spinner></button>
</div><code [attr.contenteditable]="editable" (keydown)=onKeyDown($event) (keyup)=onKeyUp($event) #snippet [ngClass]="{ raised: editable, hljs: true}" spellcheck="false" id="snippets" >{{ code }}</code>
</pre>
