[contenteditable]:focus {
  outline: 0px solid transparent;
}

.snippet-action-bar {
  display: flex;
  opacity: 0;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: opacity 0.3s ease-in-out;
}
.snippet-action-bar button {
  margin: 0 0.2em 0.2em 0;
  min-width: 0;
  font-size: 0.8em;
}

pre {
  font-size: 1.2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  margin: 5px 0px 10px 0px;
  border-radius: 5px;
}

code {
  border-radius: 5px;
  //background-color: rgb(237, 243, 255) !important;
}

pre:hover .snippet-action-bar {
  opacity: 1;
}

.raised {
  box-shadow: 0 14px 28px rgba(0, 36, 102, 0.25),
    0 10px 10px rgba(0, 36, 102, 0.22);
}

.wrapper {
}
