div.note {
  padding: 15px 15px 15px 15px;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #dae3e5;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

.content-container {
  margin-top: 10px;
  /*   max-height: 500px; */
  /*overflow: visible; */
/*   -webkit-mask-image: linear-gradient(white, white 550px, transparent);
  mask-image: linear-gradient(white, white 550px, transparent); */
}

/* .content-container::after {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 550px, white);
} */
.meta {
  display: flex;
  justify-content: space-between;
  align-content: center;
  span {
    flex: 1 0 auto;
    text-align: right;
  }
  /*   position: absolute;
  right: 15px;
  bottom: 5px;
  margin-bottom: 0px;
  font-size: 0.9em; */
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

.new-line {
  line-height: 2em;
  min-width: 0;
  padding-left: 5px !important;
  padding-right: 5px !important;
  position: absolute;
  left: -25px;
  bottom: -1em;
}

.new-line:hover mat-icon {
  transform: rotate(90deg);
}

/* .new-line:hover {
  height: 2em;
  background-color: white;
} */
/* .new-line:hover {
  position: absolute;
  left: -50px;
  top: -10px;
} */

.wrapper {
  position: relative;
}

.drag-handle {
  position: absolute;
  left: -25px;
  font-size: 20px;
  border-radius: 3px;
  &:hover {
    cursor: move;
    opacity: 0.5;
  }
}
.lower {
  top: 10px;
}

.action-bar button {
  margin-right: 5px;
}

.cdk-drag-placeholder {
  opacity: 0;
}