<div class="container">
  <div class="search-bar">
    <mat-form-field class="chip-list" appearance="outline">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let tag of (chosenTags | async)"
          [selectable]="selectable"
          [removable]="true"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Search..."
          #searchBox
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectTag($event)"
      >
        <mat-option *ngFor="let tag of (filteredTags | async)" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="user-bar">
    <span class="circle"></span>
    <span class="name">Huy Nguyen</span>
  </div>
</div>
